{
  "env": {
    "cjs": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime",
        [
          "transform-react-remove-prop-types",
          {
            "mode": "wrap"
          }
        ]
      ]
    },
    "es2015": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "loose": true
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime",
        [
          "transform-react-remove-prop-types",
          {
            "mode": "wrap"
          }
        ]
      ]
    }
  }
}
